
<!-- Kontener slajdera -->
<link rel="stylesheet" href="../partials/sliderstyle.css">
<div class="slideshow-container">

  <!-- Obrazki -->
  <div class="mySlides ">
    <div class="numbertext">1 / 3</div>
    <img src="../Imgs/lim1.jpg" style="width:100%">
    <div class="text">Robert Kubica ~ "Świetne auto, sprawdza się w każdej sytułacji"</div>
  </div>

  <div class="mySlides ">
    <div class="numbertext">2 / 3</div>
    <img src="../Imgs/lim2.jpg" style="width:100%">
    <div class="text">Kamil Bednarek ~ "Świetne auto, ilealne do wietrzenia dredów"</div>
  </div>

  <div class="mySlides ">
    <div class="numbertext">3 / 3</div>
    <img src="../Imgs/camp1.jpg" style="width:100%">
    <div class="text">Czesław Niemen ~ "Dziwny jest teeeeeen świat"</div>
  </div>

  <!-- Przyciski slajdera -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- Kropki pod slajderem -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>